body {
    font-family: Helvetica;
    padding: 5%;
    margin: 0;
}

.nav {
    display: flex;
    .navleft {
        width: 30vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navimg {
            img {
                height: 50px;
            }
        }
    }

    .navright {
        width: 70vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            padding: 10px 20px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 20px;
        }

        button:hover {
            background-color: white;
            color: black;
            border: solid black 1px;
        }
    }

    .navitem {
        text-decoration: none;
        font-size: 18px;
        color: black;
    }

    .navitem:hover {
        color: gray;
    }
}

.homepg {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hometext {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        font-weight: 100;
        margin: 50px 0;

        .t1 {
            font-size: 50px;
        }

        .t2 {
            font-size: 100px;
        }
        
        .t3 {
            font-size: 20px;
        }

        button {
            margin: 30px 0;
            padding: 10px 20px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 20px;
        }

        .breakline {
            width: 100%;
            height: 1px;
            background-color: black;
        }

        .t4 {
            display: inline-block;
            margin: 10px 0;
            font-family: 'IBM Plex Mono', monospace;
        }

        .t5 {
            font-family: 'IBM Plex Mono', monospace;
        }
    }
}



.slidebox {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    // border: solid blue;

    .slideshow {
        overflow: hidden;
        width: 100%;
        // border: solid green;

        .slideshowSlider {
            white-space: nowrap;
            transition: ease 1000ms;
            // border: solid purple;

            .slide {
                display: inline-block;
                height: 100%;
                width: 100%;
                background-position: center;
                background-position-y: 0;
                background-size: cover;
                // border: solid red;

                .slidecontent {
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100vh;

                    .rightarrow, .leftarrow {
                        font-size: 30px;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        padding: 20px;
                    }

                    .rightarrow:hover, .leftarrow:hover {
                        cursor: pointer;
                    }

                    .slidelink {
                        text-decoration: none;
                        color: white;
                    }

                    .slidelink:hover {
                        color: rgb(255, 255, 255, 0.3);
                    }
                }
            }
        }
    }
}

.homeig {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;

    .ig {
        text-align: center;
        width: 20%;
        height: 100px;
        margin: 10px;
        background-color: black;
    }
}

.about {
    font-family: Helvetica;
    text-align: center;

    h1 {
        font-size: 75px;
    }
}

.locationpg {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .locationinfo {
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            max-width: 400px;
            margin: 50px;
            font-weight: 300;
            font-family: Helvetica;
        }

        img {
            max-width: 400px;
            max-height: auto;
            margin: 50px;
            border: solid black 5px;
            border-radius: 255px;
        }
    }

    .locationmap {
        width: 100%;

        iframe {
            width: 100%;
            height: 400px;
            margin: 50px 0 100px 0;
        }
    }
}

@media only screen and (max-width: 850px) {
    .homepg {
        .hometext {
            width: 90vw;
            .t1 {
                font-size: 25px;
                margin-bottom: 10px;
            }
            .t2 {
                font-size: 35px;
                margin-bottom: 10px;
            }
            .t3 {
                font-size: 18px;
            }
        }
    }

    .locationinfo {
        flex-direction: column;
        text-align: center;

        img {
            margin: 0px;
            width: 300px;
        }

        h3 {
            margin: 0px;
        }
    }

    .locationmap {
        iframe {
            max-height: 300px;
        }
    }
}